/Clase-0/Process/node_modules
/Clase-0/ProcessGlobalChild/node_modules
/Clase-01/MockingApi/node_modules
/Clase-02/ProyectoMiddlewareErrores/node_modules
/Clase-02/ProyectoOptimizado/node_modules
/Clase-04/ProyectoArtillery/node_modules
/Clase-04/ProyectoArtilleryAvanzado/node_modules
/Clase-04/ProyectoWinston/node_modules
/Clase-05/ProyectoCluster/node_modules
/Clase-07.AnalisisVulnerabilidades/proyecto1/node_modules
/Clase-07.AnalisisVulnerabilidades/proyecto2/node_modules
/Clase-07.AnalisisVulnerabilidades/proyecto3/node_modules
/Clase-09/RecursosBackend-Adoptme/node_modules
/Clase-10/RecursosBackend-Adoptme/node_modules
/Clase-11/nuevo-proyecto/dist
/Clase-11/nuevo-proyecto/node_modules/
/Clase-11/nuevo-proyecto/node_modules
/Clase-11/proyecto-mongoose/dist
/Clase-11/proyecto-mongoose/node_modules/
/Clase-11/proyecto-mongoose/node_modules
/Clase-12/proyecto-mongoose/dist
/Clase-12/proyecto-mongoose/node_modules/
/Clase-12/proyecto-mongoose/node_modules
/Clase-13/node_modules